<!DOCTYPE html>
<html>
    <head>
        <title> Famous Quote Search </title>
    </head>
    <body>
        
        <h1> Famous Quote Search </h1>

        <form action="/quotes">
   
            Keyword: <input type="text" name="keyword">
            
            Category: 
            <select name="category">
                <option value=""> Select One </option>
                
                <% categories.forEach(function(i){ %>
                
                    <option> <%=i.category%>  </option>
                
                <% }); %>
                
            </select>
            
            <!--TODO -->
            <!-- 1. Add dropdown menu with author's names from the database-->
            <!-- 2. Add radio buttons to search for Male/Female authors -->
            <!-- 3. Implement searching quotes by author's name and gender -->
            
            <button> Search! </button>

        </form>

    </body>
</html>